@page
@model TechQuestions.Web.Pages.Questions.DetailsModel
@{
}
<script src="~/lib/ckeditor/ckeditor.js"></script>

<div class="category-block" style="background-color: @Model.QuestionViewModel.Category.Color;">
    <h1 class="category-block__title">@Model.QuestionViewModel?.Category?.Name</h1>
</div>
<div class="question-details">
    <h1 class="mb-4">@Model.QuestionViewModel.QuestionText</h1>

    @if (Model.QuestionViewModel?.ShortAnswer != null)
    {
        <div class="mb-4">
            <h4 class="mr-2 d-inline">Short answer: </h4> <span>@Model.QuestionViewModel?.ShortAnswer</span>
        </div>
    }

    <div id="editor3">@Html.Raw(Model.QuestionViewModel.Answer)</div>

    <div class="d-flex justify-content-start">
        <a asp-page="/Questions/Edit" asp-route-questionId="@Model.QuestionViewModel.Id" class="btn btn-primary mt-4" style="margin-right: 2rem;">Edit</a>
        <form asp-page="/Questions">
            <button asp-page-handler="Delete" asp-route-questionId="@Model.QuestionViewModel.Id" type="submit" class="btn btn-danger mt-4">Delete</button>
        </form>
    </div>

    
</div>

<script>
    ClassicEditor
        .create(document.querySelector('#editor3'), {
            // The editor's configuration.
            // ...
        })
        .then(editor => {
            const toolbarElement = editor.ui.view.toolbar.element;
            toolbarElement.style.display = 'none';
            editor.enableReadOnlyMode('my-feature-id');
        })
        .catch(error => {
            console.log(error);
        });
</script>