@page
@model TechQuestions.Web.Pages.QuestionListModel
@{
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <ul>
            @foreach (var category in @Model.QuestionsViewModel.Categories)
            {
                <li> @category.Name</li>
            }
        </ul>
        @foreach (var question in @Model.QuestionsViewModel.Questions)
        {

            <div class="card text-start mb-3">
                <div class="row g-0">
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">@question.QuestionText</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="col-md-2 text-center d-flex">
                        <h1 class="row justify-content-center align-self-center">@question.Category.Name</h1>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
